mysql-magento2:
 image: gabsdevops/mysqlgento:latest
 container_name: mysql-magento2
 ports:
  - 3306:3306
magento2:
  build: .
  links:
   - mysql-magento2
  container_name: magento2
  volumes:
   - /home/gabs/devops/gabsLab/magento-lab/magentoCode/magento2:/var/www/html:z
  ports:
   - 8085:80
